.App {
  color: #252627;
  background-color: white;
  font-family: 'ars-maquette-web',sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: Left;
  font-size: 3em;
  font-weight: 950;
  color: #252627;
  letter-spacing: 3px;
  border-bottom-width: 3px;
  border-bottom-color:  rgba(184, 184, 184, 0.6);
  border-bottom-style: solid;
}

.container {
  display: grid;
  grid-template-columns: 250px auto;
  align-content: space-around;
  background-color: none;
  padding-top: 0px;
}

.container > div {
  background-color: none;
  font-size: 30px;
}

.animated {
  background-image: url(/css/images/logo.png);
  background-repeat: no-repeat;
  -webkit-animation-duration: 10s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

