
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 500px)) minmax(200px, 500px);
    grid-column-gap: 20px;
    background-color: none;
    padding: 20px;
    border-bottom-color: rgba(184, 184, 184, 0.6);
    border-bottom-style: solid; 
    grid-template-areas:
    "img small-header"
    "img title";
  }

.small-container {
  display: grid;
  grid-template-columns: auto auto;
}

.small-container > .col {
  padding-right: 10px;
}

.small-header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 15px;
  font-weight: 1000;
  color: #bf1313
}
  
.comment {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 18px;
  font-weight: 1000;
  color: #252627;
  letter-spacing: 1px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 18px;
  font-weight: 1000;
  color: #252627;
  letter-spacing: 1px;
}

.title:hover {
    color:  #3888c9;;
    text-decoration: underline;
    border: none;
    outline: none;
}

.title:focus {
    color: #3888c9;
    text-decoration: underline;
    border: none;
    outline: none;
}
 
img {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  width: 100%;
  object-fit: cover;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:focus {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


@media (max-width: 600px) {
  grid-template-columns: min-content lfr lfr;
  grid-template-areas:
    "img"
    "comment"
    "title";
}