.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: Right;
    font-size: 0;
    color: white;
    padding-top: 15px;
  }

button {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: .5px;
    text-align: left;
    display: inline-block;
    padding: 20px;
    padding-left: 40px;
    background: none;
    border: none;
    transition: all 0.3s;
    outline: none;
    color: rgba(37,38,39,0.6);

}

.icon {
    font-size: 18px;
    font-weight: 950;
    padding-right: 20px;
}


button:hover {
    background: rgba(184, 184, 184, 0.6);
    color:  #252627;;
    border: none;
    outline: none;
}

button:focus {
    color: white;
    background:  #bf1313;
    border: none;
    outline: none;
    font-weight: 950;
}